.TenVh {
  height: 10vh;
}

.NinetyVh {
  height: 90vh;
}

.SixetyVh {
  height: 60vh;
}

.homebg {
  background: url("https://images.unsplash.com/photo-1504908477001-a48f4fb0dd48?q=80&w=2810&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D://images.unsplash.com/photo-1504909177259-7a4a3d7e969e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}